.divStyle{ 
    margin : auto;
    width: 90%
}

.headStyle{
    font-size: 25px;
    font-weight: bolder;
    margin: 5px 0px 30px 0px;
    text-align: right

}

.subHeadStyle{
    font-size: 15px;
    color: gray;
    font-weight: bolder;
    margin: 10px 0px
}

.tableHead{
    font-weight : bolder !important;
    /* text-align: center */
}

.tableBody{
    text-align : center
}

.specdetails{
    font-size: 12px !important
} 

.fa-square-config{
    color:white;
    border: 2px black solid;
    border-radius: 3px;
    font-size: 25px !important;
}

.fa-square-list{
    color:white;
    border: 2px black solid;
    border-radius: 2px;
}

.check-square-m{
    font-size:18px !important
}

.custome-modal{
    left: 0px !important;
    top:0px !important; 
    background-color: aliceblue !important
}
.modal-table{
    background-color: aliceblue !important;
    color: black !important
}

.span-custom{
    border: 0px !important;
    background-color: transparent !important
}
.scenario-panel-title{
    margin: 10px;
    /* font-weight: bold; */
    margin-bottom: 0px !important;
    border: 0px !important;
    color: #507192 !important
}

.scenario-panel{
    border: 0px !important
}

.scenario-panel-body{
    border:1px solid grey !important;
    margin: 10px !important
}

.test-save-btn{
    margin-left: 15px !important
}

.test-history-table{
    margin-top: 10px !important
}

.iteration-btn{
    margin-right: 10px !important
}

.round-btn{
    /* border-radius: 50% !important;
    display:block;
    height: 30px;
    width: 30px;
    border: 1px solid;
    padding: 0px 7px !important;
    margin-left: 50px !important */
    /* color: transparent !important; */
    background-color: transparent !important;
    border: 0px !important;
    box-shadow: 0 0px 0px rgba(0,0,0,.12), 0 0px 0px rgba(0,0,0,.24) !important
}

.head-top{
    text-align: right;
    margin-top: 15px;
    margin-right: 50px;
}

.nav-margin{
    margin-top: 25px !important
}

.header-user{
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    margin: 15px 0 0 5px;
    font-weight: 300;
}

.span-icon{
    margin-left:5px !important
}
 .login-jumbotron{
     margin-top: 60px!important;
     padding: 10px !important
 }

 .login-form
 {
     margin: 70px !important
 }

 .login-head{
     margin: 0px !important;
     text-align: center !important;
     font-weight: 400 !important
 }

 .login-alert{
     background-color: beige !important;
     border: 1px solid black !important;
     margin: 120px !important
 }

 .login-error-span{
    text-align: center !important;
    margin-top: 15px !important;
 }



 .login-logo{
    width:40% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px !important

 }

 .login-P{
    font-size: 15px !important;
    text-align: center !important;
    margin-top: 10px !important
 }
