.divStyle{ 
    margin : auto;
    width: 90%
}

.headStyle{
    font-size: 25px;
    font-weight: bolder;
    margin: 20px 0px
}

.subHeadStyle{
    font-size: 15px;
    color: gray;
    font-weight: bolder;
    margin: 10px 0px
}

.tableHead{
    font-weight : bolder !important;
    /* text-align: center */
}

.tableBody{
    text-align : center
}

.specdetails{
    font-size: 12px !important
} 

.fa-square-config{
    color:white;
    border: 2px black solid;
    border-radius: 3px;
    font-size: 25px !important;
}

.fa-square-list{
    color:white;
    border: 2px black solid;
    border-radius: 2px;
}

.check-square-m{
    font-size:18px !important
}

.custome-modal{
    left: 0px !important;
    top:0px !important; 
    background-color: aliceblue !important
}
.modal-table{
    background-color: aliceblue !important;
    color: black !important
}

.span-custom{
    border: 0px !important;
    background-color: transparent !important
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #f5f5f5 !important;
    color: black !important;
    border: 0px !important
}

a{
    color: #507192 !important;
}

a:focus, a:hover {
    color: 507192 !important;
    text-decoration: underline;
}

.scenario-panel{
    margin: 10px;
    font-weight: bold;
}