.passedTag {
    position: absolute;
    top: 10px;
    right: 10px;
    color: green;
    font-weight: bold;
}

.failedTag {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    font-weight: bold;
}

.error {
    color: red;
    max-width: 95%;
    word-break: break-all;
}

.passed {
    color:green;
}

.skipped {
    color:orange;
}

.failed {
    color:red;
}

.error-panel {
    border: none;
    box-shadow: none;
}

.feature-title {
    padding-bottom: 0px;
}

.feature-result {
   font-size: 1.3em;
    padding: 8px 8px 0px 0px;
}

.scenario-details {
    color: gray;
}

.status-badge {
    padding: 5px 5px 0px 0px;
    font-size: 1.1em;
    svg {
        margin-right: 5px;
    }
}

.overall-results-block {
    font-size: 1.2em;
    p {
        display: inline-block;
        margin-right: 10px;
    }
}

.attributes-well {
    background-color: #f5f5f5;
}

.test-configuration-view {
    margin: 0px 1px 0px 1px;
}
