.passedTag {
    position: absolute;
    top: 10px;
    right: 10px;
    color: green;
    font-weight: bold;
}

.failedTag {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    font-weight: bold;
}

.error {
    color: red;
    max-width: 95%;
    word-break: break-all;
}

.passed {
    color:green;
}

.skipped {
    color:orange;
}

.failed {
    color:red;
}

.error-panel {
    border: none;
    box-shadow: none;
}

.feature-title {
    padding-bottom: 0px;
}

.feature-result {
   font-size: 1.3em;
    padding: 8px 8px 0px 0px;
}

.scenario-details {
    color: gray;
}

.status-badge {
    padding: 5px 5px 0px 0px;
    font-size: 1.1em;
    svg {
        margin-right: 5px;
    }
}

.passed-badge {
  display: inline-block;
  min-width: 75px;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
  background-color: #4caf50;
  border-radius: 10px;
  text-align: center;
}

.failed-badge {
  display: inline-block;
  min-width: 75px;
  font-size: 14px;
  color: #fff;
  vertical-align: middle;
  background-color: #e62213;
  border-radius: 10px;
  text-align: center;
}

.overall-results-block {
    p {
        display: inline-block;
        margin-right: 10px;
    }
}

.report-block {
  font-size: 1.2em;
}

.test-configuration-view {
    margin: 0px 1px 0px 1px;
}
.list-group-item {
  .checkbox {
    margin-top: 1.3em;
  }
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
  background-color: #f5f5f5;
  color: black;
  border-color: #ddd;
}

.navigation-list {
    padding: 0px 1px 0px 1px;
    .list-group {
        .active{
            background-color: inherit;
            color: inherit;
            border-width: 0px 0px 0px 6px !important;
        }
    }
}
.tc-feature-panel{
  .panel-heading{
    padding-bottom: 0px;
  }
  .tc-feature-panel-head {
    margin: 0px 5px 0px 5px;
  }
  .tc-checkbox {
    margin-top: 1.3em;
  }
}

a {
  color: #507192;
  &:hover {
    color: inherit;
  }
}

input[type="text"] {
  background-size : 100% 2px,100% 1px;
  background-image: linear-gradient(#888,#333),linear-gradient(#333,#888);
}

.attribute-group {
  padding-bottom: 1em;

  &:last-child{
    padding-bottom: 0px;
  }
}